@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html,body{
    margin:0%;
        padding:0;
       
    box-sizing: border-box;
    
    
}

a{
    text-decoration: none;
}

#nav-bar{
    position: absolute;
    z-index: 10;
    top:0;
    width: 100%;
    display: flex;
   
}
.navbar-light .navbar-brand{
    color:#fff;
}
.navbar-nav li a{
    float: right;
    text-align: left;
}
.navbar-nav a{
    font-family: italiano, cursive;
    font-size: 20px;
   text-transform: uppercase;
    color: wheat !important;
   
}
.navbar-nav{
    text-align: center;
  align-items: center;
}
.nav-link{
    padding: .2rem 1rem;
}
.navbar-brand{
    font-family: italiana, cursive;
    color:darksalmon !important;
     font-size: 42px;
   padding-left: 450px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-right: 40px;
     text-shadow:0 0 20px darkred; 
    
}
.navbar-toggler-icon{
    color:white;
}
.navbar-nav{
    text-align: center;
    
}
.nav-link{
    padding-right: 20px;
    
}
.nav-link.active, .nav-link:focus, .nav-link:hover
{
    color: darksalmon !important;
}

.container1{
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}
.banner-content{
    margin-top: -100px;
    color:white !important;
    text-align: center;
    font-family: 'kanit',cursive;
}
.banner-content span{
    color: yellowgreen;
    
}
.btn{
    
}
.container1,.container1:before{
    background: 50% 50%/ cover;
}
.container1::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right:0;
    top:0;
    display: block;
    background-image: url("img/food1.jpg");
    background-size: cover;
    transform-origin: center center 0;
    
    z-index: -1;
    min-height: 100vh;
}

.btn a{
    display: block;
    width: 180px;
    height: 35px;
    border:2px solid darkslategray;
    line-height: 30px;
    font-size: 20px;
    color: darkslategrey;
    text-align: center;
    align-items: center;
    margin: auto;
    
}
.about{
    padding: 1% 10%;
    text-align: center;
    position: relative;
    font-family: lobster;
    letter-spacing: 2px;
}
.box ul{
    list-style: none;
}
.box a{
    text-decoration: none;
}
.container{
    height: 550px;
    width: 100%;
    background-color:blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 400px;
    height:500px;
    background-color: darksalmon;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    
}
.model{
    height: 350px;
    max-height: 100%;
    max-width: 100%;
}
 .box h1{
   padding-bottom: 20px;
   color:gainsboro;
   font-family: italiana, cursive;
   
    text-shadow:0 0 20px darkred; 
}
.box:hover{
	background-color: darkred;
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
}
.box:hover .italian{
	color:#c0292b;
	transition: all ease 0.5s;
}
footer{
    
    margin-top:50px;
    clear:both;
}

.container2,.container2:before{
    background: 50% 50%/ cover;
}
.container2::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right:0;
    top:0;
    display: block;
    background-image: url("img/bg.jpg");
    background-size: cover;
    transform-origin: center center 0;
    
    z-index: -1;
    min-height: 100vh;
}
.wrap{
    max-width: 350px;
    border-radius: 20px;
    margin:auto;
    background: rgba(0,0,0,0.3);
    padding: 40px;
    color:#fff;
    margin-top:100px;
}
.container2,.container3 h2{
    text-align: center;
}
input[type=text],input[type=password], input[type=e-mail]{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.1);
    outline: none;
    border:none;
    border-bottom: 1 px dotted #fff;
    color:fff;
    border-radius: 5px;
    margin:5px;
    font-weight: bold;
}
input[type=submit]{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top:30px;
    outline: none;
    border: none;
    background: #60adde;
    opacity: 0.6;
    border-radius:20px;
    font-size: 20px;
    color:#fff;
}
input[type=submit]:hover{
    background: darksalmon;
    opacity: 0.8;
}

.container3,.container3:before{
    background: 50% 50%/ cover;
}
.container3::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right:0;
    top:0;
    display: block;
    background-image: url("img/bg2.jpg");
    background-size: cover;
    transform-origin: center center 0;
    
    z-index: -1;
    min-height: 100vh;
}
@media only screen and (max-width: 767px)
{
    .container1{
        align-items: center;
        text-align: center;
    }
    .banner-content{
        margin: 80px 40px;
    }
     .banner-content h1{
        font-size:50px;
    }
    .navbar-brand{
        padding-left: 20px;
    }
    .navbar-nav.ml-auto{
        background: rgba(0,0,0,0.5);
    }
    .navbar-toggler{
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background: #fff;
    }
    #nav-bar{
        display: inline-block;
    }
    .box{
		width: 94%;
		height: 500px;
	}
	.model{
		height:250px;
	}
	.details p{
		font-size: 16px;
		width: 250px;
	}
}