@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}
body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
}
.container{
    display: flex;
}

.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

.logo {
     font-family: italiana, cursive;
    color:darksalmon !important;
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 42px;
      letter-spacing: 2px;
       text-shadow:0 0 20px darkred;
}
i {
font-family: fontawesome !important;
}
nav {
      position: absolute;
      width: 100%;
      line-height: 60px;
}
.banner {
      width: 100%;
      height: 100vh;
      background: url("img/food1.jpg");
      background-size: cover;
      background-color: luminosity;
     
}
.banner1 {
      width: 100%;
      height: 100vh;
      background: url("img/bg.jpg");
      background-size: cover;
      background-color: luminosity;
     
}
.banner2{
      width: 100%;
      height: 100vh;
      background: url("img/bg2.jpg");
      background-size: cover;
      background-color: luminosity;
     
}
.banner-content { 
        height: 10em;
    position: relative; 
     margin: 0;
   color: burlywood;
    font-family: 'kanit',cursive;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.banner-content span{
    color: yellowgreen;
    
}
form{
    max-width: 350px;
   
    margin:auto;
    background: rgba(0,0,0,0.3);
    
    color:#fff;
   
}
nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: center;
      margin: 0;
      
      
      transition: 1s;
}

nav.black ul {
      background: #000;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;
      font-weight: bold;
      font-family: kanit;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      color: cornsilk;
      font-weight: bold;
       text-shadow:0 0 20px darkred;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

 .about{
    padding: 1% 10%;
    text-align: center;
    position: relative;
    font-family: lobster;
    letter-spacing: 2px;
}


.container1,.container1:before{
    background: 50% 50%/ cover;
}
.container1::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right:0;
    top:0;
    display: block;
    background-image: url("img/food1.jpg");
    background-size: cover;
    transform-origin: center center 0;
    
    z-index: -1;
    min-height: 100vh;
}

.btn a{
    display: block;
    width: 180px;
    height: 35px;
    border:2px solid darkslategray;
    line-height: 30px;
    font-size: 20px;
    color: darkslategrey;
    text-align: center;
    align-items: center;
    margin: auto;
    
}
.about{
    padding: 1% 10%;
    text-align: center;
    position: relative;
    font-family: lobster;
    letter-spacing: 2px;
}
.box ul{
    list-style: none;
}
.box a{
    text-decoration: none;
}
.container4{
    height: 550px;
    width: 100%;
    background-color:blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 400px;
    height:500px;
    background-color: darksalmon;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    
}
.model{
    height: 350px;
    max-height: 100%;
    max-width: 100%;
}
 .box h1{
   padding-bottom: 20px;
   color:gainsboro;
   font-family: italiana, cursive;
   
    text-shadow:0 0 20px darkred; 
}
.box:hover{
	background-color: darkred;
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
}
.box:hover .italian{
	color:#c0292b;
	transition: all ease 0.5s;
}
footer{
    
    margin-top:50px;
    clear:both;
}

.container2,.container2:before{
    background: 50% 50%/ cover;
}
.container2::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right:0;
    top:0;
    display: block;
    background-image: url("img/bg.jpg");
    background-size: cover;
    transform-origin: center center 0;
    
    z-index: -1;
    min-height: 100vh;
}
.wrap{
    max-width: 350px;
    border-radius: 20px;
    margin:auto;
    background: rgba(0,0,0,0.3);
    padding: 40px;
    color:#fff;
    margin-top:100px;
}
.container2,.container3 h2{
    text-align: center;
}
input[type=text],input[type=password], input[type=email]{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.8);
    outline: none;
    border:none;
    border-bottom: 1 px dotted #fff;
    color:#fff;
    border-radius: 5px;
    margin:5px;
    font-weight: bold;
    cursor: pointer;
    
}
input[type=submit]{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top:30px;
    outline: none;
    border: none;
    background: #60adde;
    opacity: 0.6;
    border-radius:20px;
    font-size: 20px;
    color:#fff;
    
}
input[type=submit]:hover{
    background: darksalmon;
    opacity: 0.8;
}

.container3,.container3:before{
    background: 50% 50%/ cover;
}
.container3::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right:0;
    top:0;
    display: block;
    background-image: url("img/bg2.jpg");
    background-size: cover;
    transform-origin: center center 0;
    
    z-index: -1;
    min-height: 100vh;
}
@media(max-width: 786px) {

      .logo {
            position: absolute;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            background: #000;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: inline-block;
      }
      form{
          max-width: 400px;
      }

}
