@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster+Two&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   }
   body{
   height: 100%;
   width: 100%;
  
    font-size: 16px;
   }
   header {
    width: 100%;
    position:fixed;
    z-index: 99;

}
   a{
    text-decoration: none;
   }
   a:hover{
    text-decoration: none;
   }
   @import url("https://fonts.googleapis.com/css?family=Titillium+Web");
* {
  font-family: "Titillium Web", sans-serif;
}
body {
  height: 2000px;
}
/* -------------------------navigation bar------------------ */

ul.navbar-nav li a.nav-link {
    color: rgb(20, 77, 201)!important;
}
ul.navbar-nav li a.nav-link:hover{
 color: #2d94fc !important;
}
ul.navbar-nav li.active a.nav-link {
    color: #2d94fc !important;
    transition: all.3s;
}
nav{
    z-index:1;
}

.navbar-brand {
    color: rgb(20, 77, 201) !important;
    font-size: 35px;
    font-weight: bold;
}

.navbar .navbar-brand {
  font-size: 30px;
}
.navbar .nav-item {
  padding: 10px 20px;
}
.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
}
.fa-bars {
  color: #007bff;
  font-size: 30px;
}
.bg-light {
    background-color: transparent !important;
}
/*---------------------banner-------------------------*/


.banner{
    position: relative;
       width: 100%;
       height: 550px;
       background: url(img/16.jpg);
       background-size: cover;
       background-position: center;
       padding: 180px 0px;
       clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
   }
  h2.title span{
    
    font-size: 35px;
    font-weight: bolder;
    font-style: italic;
   }
   .banner_desc h2.title {
       color: #fff;
       font-size: 35px;
       font-family: 'Acme', sans-serif;
       border-bottom: 1px solid rgba(107, 106, 106, 0.6);
   
   }
   .banner_desc p {
      color: #fff;
       margin: 10px 0px;
       font-family: 'PT Serif Caption', serif;
       font-size:20px;
       font-style: italic;
       width: 100%;
   }
  
   a.btn {
       padding: 12px 30px;
       background: #2d94fc;
       color: #fff;
       border-radius: 25px;
       border: 1px solid transparent;
       margin-right: 20px;
       transition: all .4s;
       box-shadow: 1px 2px 4px 0px #00000075;
       
   }
   .btn-trans{ 
    background: transparent !important;
    color: #fff !important;
    border: 1px solid #fff !important;
   }
   .btn-color:hover {
       background: transparent !important;
       color: #fff;
       border: 1px solid #fff !important;
       transition: all .4s cubic-bezier(0.65, 0.05, 0.51, 0.67);
   }
   .btn-trans:hover{
    background: #2d94fc !important;
       color: #fff !important;
       transition: all .4s cubic-bezier(0.65, 0.05, 0.51, 0.67);
       border:1px solid transparent !important;
   }
   /*-------------caption-----------------*/


  .caption h1{
       padding-top: 25px;
       text-align: center;
       font-family: 'Courgette', cursive;
       font-size: 45px;
       font-weight: bolder;
      
       color: rgb(2, 25, 66);
       text-shadow:  #2d94fc;
      
   }
  .caption{
      align-items: center;
      text-align: center;
  }
   .caption h6{
    font-family: 'Lobster Two', cursive;
    text-align: center;
   padding-top: 10px;
    font-size: 30px;
    color: rgb(9, 34, 77);
    border-bottom: 2px solid rgba(32, 6, 82, 0.6);
    padding-bottom: 10px;;
   }

   /*contents in the page*/
.content{
    width:100%;
    height: 100%;
    background-color: #000;
    background: url(https://i.imgur.com/GCJRhiA.png);
} 
  .row1{
      width: 85%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 10px;
  }
  .col{
      flex-basis:30%;
      overflow: hidden;
  }
  .card{
      width:350px;
      height: 350px;
      margin: auto;
      perspective: 1000px;
      cursor:pointer;
  }
  .inner-box{
      position: relative;
      width: 100%;
      height: 100%;
      text-align:center;
      border-radius:10px;
      transition: transform 1s;
      transform-style: preserve-3d;
  }
  .card-front, .card-back{
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius:10px;
  }
  .card-front{
     
 background-size: cover;
 background-position:  center;
    }
    .front-1{
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://media1.tenor.com/images/6c0fc9ca10c27c1edf55cb1f1764d637/tenor.gif?itemid=7238445);
    }
    .front-2{
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://data.whicdn.com/images/79526561/original.gif);
    }
    .front-3{
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://i.pinimg.com/originals/ce/6b/f2/ce6bf24031d44c14c4b57a7ec677c28e.gif);
    }
    .card-front span{
        display: inline-block;
        width: 100px;
        padding:14px 0;
        margin-top: 160px;
        border-radius: 40x;
        background: #fff;
        color: #333333;
        font-size: 12px;
        transition: transform 1s;

    }
    .card-back{
        background: #05050c;
        transform: rotateX(180deg);
    }
.card:hover .inner-box{
    transform: rotateX(-180deg);

}
.card:hover span{
    transform: translateY(140px);
}
.card-back p{
display: inline-block;
color: #fff;
font-family: 'Niconne', cursive;
font-size: 20px;
padding-bottom: 10px;
border-bottom:1px solid #fff;
margin-top: 140px;
text-align: center;
}
/*---------universe background--------------*/
.banner1{
    width: 100%;
    height: 97vh;
    background: url(https://www.pixelstalk.net/wp-content/uploads/2016/08/Universe-Wallpaper-HD-Free-Download.jpg);
box-shadow: 0 5px 10px rgba(0,0,0,0.5);
margin: auto;
background-size: cover;

border-radius:10px;
z-index:2;
}
.banner1 span{
    height: 100% ;
    left: 0;
    background: url(img/20.jpg);
    position: absolute;
  transition: 1s;
}
.banner1 span:nth-child(1){
    z-index: 10;
    width: 25%;
    transition-delay:0s;
}
.banner1 span:nth-child(2){
    z-index: 9;
    width: 50%;
    transition-delay:0.3s;
}
.banner1 span:nth-child(3){
    z-index: 8;
    width: 75%;
    transition-delay:0.6s;
}
.banner1 span:nth-child(4){
    z-index: 7;
    width: 100%;
    transition-delay:0.8s;
}
.banner1:hover span{
    transform: translateY(-100%) ;
    transition: 0.5s;
}
.banner1:hover span:nth-child(1){
  transition-delay: 0.3s;
}
.banner1:hover span:nth-child(2){
    transition-delay: 0.2s;
  }
  .banner1:hover span:nth-child(3){
    transition-delay: 0.1s;
  }
  .banner1:hover span:nth-child(4){
    transition-delay: 0;
  }
  .content2 {
      color:#000;
      text-align: center;
      padding:320px 80px;
      width:100%;
      height:100%;
      box-sizing: border-box;
  }    
  .content2 h2{
    font-family: 'Press Start 2P', cursive;
    color: rgba(14, 1, 4, 0.74);
    font-size:40px;
    font-weight: bolder;

  }

/*--------------contents of universe page--------------*/
.heading h2{
   
    padding-top: 25px;
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 45px;
    font-weight: bolder;
   width: 100%;
    color: rgb(2, 25, 66);
    text-shadow:  #2d94fc; 
}

.planet img{
    width: 250px;
    margin-left : 50px ;
    margin-top: 20px;
    height: 150px;
    border-radius: 50px 50px 50px 50px;
 
}
.container2{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   padding:30px;
}
.container2 .card2{
    position: relative;
    max-width: 300px;
    height:120px;
    background: url(img/25.jpg);
    background-size: cover;
    margin:30px 10px;
    padding:20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}
.card2 .imgBx{
    position: relative;
    width: 300px;
    height: 300px;
    top:-60px;
    left:20px;
  
}
.card2 .imgBx img{
    position: absolute;
   max-width: 250px;
    border-radius: 4px;
}
.container2 .card2:hover{
    height: 300px;
}
.container2 .card2 .about{
    position: relative;
    margin-top:-240px;
    padding: 10px 10px;
    text-align:center;
    color: #fff;
    visibility: hidden;
    
    transition:0.3s ease-in-out;
}
.card2:hover .about{
    visibility: visible;
   transition:200px height;
    margin-top:-200px;
    transition-delay: 0.3s;
}

   /*Media QUERIES*/
  
   
   @media(max-width:991px){
   
    h1.title {
        font-size: 30px !important;
        letter-spacing: 2px;
    }
    a.btn {
        margin-right: 10px;
        padding: 6px 20px;
    }
    .bg-light {
         background-color: transparent !important;
    }
   
    .banner{
     padding: 150px 0px;
     background-position: top center;
     background: url("https://media1.tenor.com/images/1b43f028e0babdb8096a666dc49a7736/tenor.gif?itemid=16278331");
     background-size: cover;
    }
    .banner-desc {
        padding: 78px 0px;
    }
    .banner1{
        transition: 0.5s;
    }
    .content2 h2{
        font-size: 25px;
    }
    .banner1:hover::before span{
        opacity: 0.5;
        transform: translateY(-100%) ;
        transition: 0.5s;
    }
    .banner1:hover span{
       color:yellowgreen
        transition: 0.5s;
    }
   
    